h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  text-transform: uppercase;
}

.brand-link{
  text-transform: uppercase;
} 

#input-selector {
  padding-left: 1.5rem;
  text-transform: uppercase;
}

.card {
  -webkit-box-shadow: none!important;
  -moz-box-shadow: none!important;
  box-shadow: none!important;
}
